body{
    background-color: black !important;
    color:white;
}
.__form{
}
.__form_container{
    background-color: #262626 !important;
    color: white;
    height: fit-content;
}
.__result_card{
    background-color: #27272a;
    color: white;
}
.__git_btn{
    height: fit-content;
}
.__content_area{
    min-height: 75vh;
}
input, select{
    background-color: black !important;
    border: 1px solid white !important;
    color: white !important;
}
input::placeholder{
    color: white !important;
}